/* Reset some default styles for the navbar */
body {
    margin: 0;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5A8E1A;
    /* Add your desired background color */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* Ensures it stays on top of other content */
}

/* Logo styles */
.logo-container {
     margin-bottom: -70px;
}


.logo {
   
    width:150px;
    height: 150px;
    flex-shrink: 0;
    align-self: center;
    position: relative;
    
}

/* Search container styles */
.search-container {
    display: flex;
    align-items:center;
    color:#C8DE7D;
    padding-bottom: 20px;
    margin-left: 80px;
}

/* Search icon styles */
.search-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 12px;
    width: 22px;
        height: 22px;
        flex-shrink: 0;
        position: absolute;
        left: 60px;
        bottom: 20px;
}

/* Search input styles */
.search-input {
    font:'IBM Plex Sans', sans-serif;
width: 157px;
    height: 31px;
    flex-shrink: 0;
    background: var(--white-green, #C8DE7D);
    border: none;
    position: absolute;
    left: 90px;
    bottom: 20px;
    
}

/* Menu icon styles */
.menu-icon {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 80px;
}

.menu-dropdown{
    background-color: #C8DE7D;
    color: #5A8E1A;
    font-family: IBM Plex Sans;
}